<% provide(:title, "Newswire") %> 
    <div class="row"> 
        <h1>Public Newswire</h1>
        <div class="col-md-8"> 
            <div class="well">
            <h3>(<%= @newswire_posts.count %> Posts)</h3>
            <ol class="newswire_posts"> 
                <% @newswire_posts.each do |newswire_post| %>
                    <%= render newswire_post %>
                    <h3><%= link_to "Show Comments (#{newswire_post.comments.count})", member_newswire_post_comments_path(newswire_post.member, newswire_post) %></h3>
                <% end %>
            </ol> 
            <%= will_paginate @newswire_posts %>
            </div>
        </div>
        <aside class="col-md-4"> 
            <section class="member_info"> 
                <h1> <%= member_avatar_for(@member) %> <%= @member.first_name + " " + @member.last_name %> </h1> 
            </section>
            <%= render 'layouts/sidebar' %>
            <% if @member.admin? %>
                <section class="newswire_post_form">
                    <%= render 'shared/newswire_post_form' %>
                </section>
            <% end %>
        </aside> 
    </div>