<div class="card newswire_posts _newswire_post">
  <h5 class="card-title newswire_posts _newswire_post">
    <%= generate_avatar_for(newswire_post.member, {
      style: {
      width: "7em",
      height: "7em"
      }
    }) %>
    <span class="newswire_posts _newswire_post author-name">
      <%= link_to newswire_post.member.first_name + " " + newswire_post.member.last_name, newswire_post.member %>
    </span>
  </h5>
  <div class="card-body">
    <p class="card-text newswire_posts _newswire_post content">
      <%= auto_link_content(newswire_post) %>
    </p>
    <p class="card-text newswire_posts _newswire_post timestamp">
      <small class="text-muted newswire_posts _newswire_post">
        Posted <%= time_ago_in_words(newswire_post.created_at) %> ago.
      </small>
    </p>
    <% if current_member?(newswire_post.member) %>
      <%= link_to "Delete", newswire_post_path(newswire_post), method: :delete, remote: :true, class: "btn btn-danger newswire_posts _newswire_post delete-button", data: { confirm: "You sure?" } %>
      <% end %>
  </div>
  <p class="card-text newswire_posts _newswire_post comments-link">
    <%= link_to "Show Comments (#{newswire_post.comments.count})", newswire_post_path(newswire_post), id: "newswire_post_#{newswire_post.id}_comment_thread_link" %>
  </p>
</div>
