     <div class="row"> 
        <div class="col-md-8">
            <div class="well">
                <h3>&larr; <%= link_to "Back to Newswire", newswire_path %></h3>
                <section class="newswire_posts">
                    <%= render @newswire_post %>
                </section>
                <h3>Comments (<%= @comments.count %>)</h3>
                <% if @comments.any? %> 
                    <ol class="newswire_posts">
                        <%= render @comments, comment: @comment  %> 
                    </ol>
                    <%= will_paginate @comments %> 
                <% end %>
                <section>
                    <%= render 'shared/comment_form' %>
                </section>
            </div>
        </div> 
        <div class="col-md-4"> 
            <%= render 'layouts/sidebar', member: current_member %>
        </div> 
    </div>