<%= render 'shared/bootstrap_alert_messages', alert_message_hash: flash %>
<%= render 'shared/page_heading_section', page_heading: "Log In", page_heading_quotation_id: nil %>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_for(:session, url: log_in_path) do |f| %>

            <h3><%= f.label :user_name %></h3>
            <%= f.text_field :user_name, class: 'form-control' %>

            <h3><%= f.label :password %>
            <%= link_to "(forgot password)", new_password_reset_path, style: "font-family: Orbitron;"%></h3>
            <%= f.password_field :password, class: 'form-control' %>

            <%= f.submit "Log in", class: "btn btn-primary" %>

        <% end %>
        <h3>New member? <%= link_to "Sign up now!", sign_up_path %></h3>
    </div>
</div>
