<div class="row">
<section>	
	<h2>What is Wrestling?</h2>
</section>
<section>
	<p>Wrestling is an ancient martial art that uses grappling type techniques such as clinch fighting, throws and takedowns, joint locks, pins 
	and other grappling holds. A wrestling bout is a physical competition, generally between two people, who attempt to gain and maintain a 
	superior position. Wrestling is one of the oldest of martial arts with references to it as early as the Iliad that recounts the Trojan War 
	in the 13th or 12th century BC. There are a wide range of styles with varying rules with both traditional historic and modern styles. 
	Wrestling techniques have been incorporated into other martial arts as well as military hand-to-hand combat systems.</p>
	<p>The rapid rise in the popularity of <%= link_to "MMA", '#' %> has increased interest in wrestling due to its proven 
	effectiveness in MMA contests. It is considered one of four core disciplines in MMA together with <%= link_to "Boxing", '#' %>, 
	<%= link_to "Muay Thai", '#' %> and <%= link_to "Brazilian Jiu-Jitsu", '#' %>. Already in the early stages of MMA development, 
	wrestling gained respect due to its effectiveness against traditional martial artists. Wrestlers Dan Severn, Don Frye, Mark Coleman, 
	Randy Couture and Mark Kerr went on to win early Ultimate Fighting Tournaments. Ken Shamrock won the first UFC Superfight Championship in 
	the <%= link_to "UFC", "http://uk.ufc.com/", target: 'blank' %> and was also the first King of Pancrase in Japan.</p>
	<p>Successful fighters in modern MMA who began their training in various forms of wrestling include former UFC Lightweight Champion 
	Frankie Edgar, 2000 Olympic silver medallist Yoel Romero, 2009 world champion and ONE FC Welterweight Champion Ben Askren, former Olympic 
	wrestler and UFC Light Heavyweight &amp; Heavyweight Champion Daniel Cormier, former 2000 NCAA wrestling champion UFC Heavyweight Champion 
	Brock Lesnar and former Pride FC Middleweight and Light Heavyweight Dan Henderson.</p>
</section>
	<section>	
		<h2>What is Wrestling training like?</h2>
	</section>
	<section>
	    <p>Wrestling is widely regarded to be the most physically gruelling sport known to man. It is considered to be the best background for 
		somebody that wants to transition into MMA to have, due to the unmatched physical and mental toughness that it gives to its practitioners.</p>
		<p>Expect a tough workout. That being said, all experience and fitness levels are catered for to ensure that everybody is suitably 
		challenged. All classes are taught by our wrestling coach Pawel Grubinski. Pawel has been coaching at competing 
	    in various forms of wrestling at a high level for over twenty years, so you will be in very capable hands. Wrestling classes will typically 
		feature:</p>
	</section>
	<section>
	    <ul>
		    <li>20-min dynamic warm-up</li><br>
			<li>Technique drills with a partner</li><br>
			<li>Wrestling sparring rounds</li><br>
		</ul>
	</section>
	<section>
		<h2>What Wrestling classes are available?</h2>
	</section>
	<section>
		<p>Please see our table below to find appropriate classes for you</p>
	</section>
	<section>
</div>
	    <div class="row">
			<table class="table">
			    <thead>
				    <tr>
					    <td>Class Type</td>
					    <td>Minimum Experience Requirement</td>
				    </tr>
				</thead>
				<tbody>
				    <tr>
					    <td class="beginner">Adult Beginner</td>
					<td>
						<ul>
							<li>Open to all skill levels</li>
							<li>Must be age 16+</li>
						</ul>
					</td>
				    </tr>
				    <tr>
					    <td class="intermediate">Adult Intermediate</td>
					    <td>
						    <ul>
							    <li>Minimum of 1 year Wrestling training</li>
							    <li>Prior permission from the class instructor</li>
							    <li>Must be age 16+</li>
						    </ul>
					    </td>
				    </tr>
				    <tr>
					    <td class="advanced">Adult Advanced</td>
					    <td>
						    <ul>
							    <li>Minimum of 2 years of Wrestling training</li>
							    <li>Prior permission from the class instructor</li>
							    <li>Must be age 16+</li>
						    </ul>
					    </td>
				    </tr>
				    <tr>
					    <td class="competition">Competition</td>
					    <td>
						    <ul>
							    <li>Invite only. Must have direct permission from the class instructor</li>
						    </ul>
					    </td>
				    </tr>
				</tbody>
			</table>
		</div>
		<div class="row">
		    <section>
			    <h2>What equipment do I need for Wrestling?</h2>
		    </section>
		    <section>
				<p>Please view the table below view required equipment for our Wrestling classes, taking into account the 
				<%= link_to "Gym Rules", gym_rules_path %> in relation to this subject. If you wish to do a particular class but do not have the mandatory 
				equipment needed, we have a limited supply on the premises. However, we cannot guarantee you will be able to use it so it is strongly recommended that you bring your 
				own. If you wish to buy some equipment, check out our store to get you started.</p>
		    </section>
		    <section>
	    </div>
	    <div class="row">
		    <table class="table">
		        <thead>
				    <tr>
					    <td>Class Type</td>
					    <td>Mandatory Equipment</td>
					    <td>Optional(but recommended) Equipment</td>
				    </tr>
				</thead>
				<tbody>
				    <tr>
					    <td class="beginner">Beginner</td>
					    <td rowspan="4">
						    <ul>
							    <li>Shorts</li>
							    <li>T-Shirt</li>
							    <li>Mouth guard</li>
						    </ul>
					    </td>
					    <td rowspan="4">
						    <ul>
							    <li>Wrestling earguard</li>
							    <li>Wrestling shoes</li>
							    <li>Water bottle</li>
						    </ul>
					    </td>
				    </tr>
				    <tr>
					    <td class="intermediate">Intermediate</td>
				    </tr>
				    <tr>
					    <td class="advanced">Advanced</td>
				    </tr>
				    <tr>
					    <td class="competition">Competition</td>
				    </tr>
				</tbody>
			</table>
		</div>