<%= render 'shared/bootstrap_alert_messages', alert_message_hash: flash %>
<%= render 'shared/page_heading_section', page_heading: @programme.name, page_heading_quotation_id: replace_char(@programme.name.downcase, " ", "-") + "-quotation" %>
<% if !@programme.quotation.nil? %>
	<section id="<%= replace_char(@programme.name.downcase, " ", "-") %>-quotation" style="color: #FFFFFF; display: none; text-align:center; font-size: 1.5em;">
		<span style="font-style: italic;"><%= @programme.quotation.split(" - ")[0] %></span>
		<% if !@programme.quotation.split(" - ")[1].nil? %>
		 - <%= @programme.quotation.split(" - ")[1] %>
		<% end %>
	</section>
<% end %>
<section class="center">
	<%= generate_avatar_for(@programme, {
		style: {
			width: "100%", 
			height: "auto"
		}
	}) %>
</section>
<div class="container">
	<div class="row">
		<% if File.exist?(@programme_description_url) %>
			<%= render "programmes/#{replace_char(@programme.name.downcase, " ", "_")}" %>
		<% else %>
			<%= render 'layouts/default_description', object: @programme.name %>
		<% end %>
	</div>
</div>
