<%= render 'shared/page_heading_section', page_heading: "Reset Password", page_heading_quotation_id: nil %>
<div class="row"> 
    <div class="col-md-6 col-md-offset-3"> 
    
        <%= form_for @member, url: password_reset_path(params[:id]), method: :patch do |f| %> 
        
            <%= render 'shared/error_messages', object: f.object %> 

            <%= hidden_field_tag :user_name, @member.user_name %> 
        
            <%= f.label :password %> <%= f.password_field :password, class: 'form-control' %> 
        
            <%= f.label :password_confirmation, "Confirmation" %> 
        
            <%= f.password_field :password_confirmation, class: 'form-control' %> 
        
            <%= f.submit "Update Password", class: "btn btn-primary" %> 
            
        <% end %> 
    </div> 
</div>
