<%-#The form to reset a password-%>
<% provide(:title, 'Reset Password') %> 
    <h1>Reset password</h1> 
        <div class="row"> 
            <div class="col-md-6 col-md-offset-3"> 
            
            <%= form_for(@member, url: password_reset_path(params[:id])) do |f| %> 
            
                <%= render 'shared/error_messages' %> 
                
                <%-#Note the use of the hidden field tag instead of 'f.hidden_field', 
                    #because the reset link puts the email in params[:email], whereas the latter would put it in params[:user][:email].-%>
                <%= hidden_field_tag :email, @member.email %> 
            
                <%= f.label :password %> <%= f.password_field :password, class: 'form-control' %> 
            
                <%= f.label :password_confirmation, "Confirmation" %> 
            
                <%= f.password_field :password_confirmation, class: 'form-control' %> 
            
                <%= f.submit "Update Password", class: "btn btn-primary" %> 
                
            <% end %> 
        </div> 
    </div>
