<%= render 'shared/page_heading_section', page_heading: "Reset Password", page_heading_quotation_id: nil %>
<div class="row"> 
    <div class="col-md-6 col-md-offset-3"> 
    
        <%= form_for @member, url: edit_admin_account_activation_path(@member.id), method: :patch do |f| %> 
        
            <%= render 'shared/error_messages', object: f.object %> 
            
            <%- #Note the use of the hidden field tag instead of 'f.hidden_field', because the reset link puts the email in params[:email], whereas the latter would put it in params[:user][:email]. -%>
            <%= hidden_field_tag :user_name, @member.user_name %> 
        
            <%= f.label :password %> <%= f.password_field :password, class: 'form-control' %> 
        
            <%= f.label :password_confirmation, "Confirmation" %> 
        
            <%= f.password_field :password_confirmation, class: 'form-control' %> 
        
            <%= f.submit "Update Password", class: "btn btn-primary" %> 
            
        <% end %> 
    </div> 
</div>
