<%= form_for @member, url: admin_member_path(@member), method: :patch do |f| %>

<%-#Make this a multi-part form to handle file attachments%>
    <%= render 'shared/error_messages', object: f.object, html: { multipart: true } %>

    <h3><%= f.label :user_name, "Username" %></h3>
    <%= f.text_field :user_name, class: "form-control" %>

    <h3><%= f.label :first_name, "First Name" %></h3>
    <%= f.text_field :first_name, class: "form-control" %>

    <h3><%= f.label :last_name, "Last Name" %></h3>
    <%= f.text_field :last_name, class: "form-control" %>

    <h3><%= f.label :email, "E-mail" %></h3>
    <%= f.email_field :email, class: "form-control" %>

    <h3><%= f.label :phone_no, "Phone Number" %></h3>
    <%= f.telephone_field :phone_no, class: "form-control" %>

    <h3><%= f.label :password, "Password" %></h3>
    <%= f.password_field :password, class: "form-control" %>

    <h3><%= f.label :password_confirmation, "Password Confirmation" %></h3>
    <%= f.password_field :password_confirmation, class: "form-control" %>

    <h3><%= f.label :member_avatar, "Profile Image" %></h3>
    <%= f.file_field :member_avatar, class: "form-control" %>

    <% if @member.member_avatar? %>
        <h3><%= f.label :member_avatar, "Profile Image" %></h3>
        <%= f.check_box :remove_member_avatar %>
    <% end %>

    <h3><%= f.label :admin, "Admin" %></h3>
    <%= f.check_box :admin %>

    <%= f.submit yield(:button_text), class: "btn btn-primary admin _edit_member_form" %> 

<% end %>
