<%= render 'shared/bootstrap_alert_messages', alert_message_hash: flash %>
<%= render 'shared/page_heading_section', page_heading: "Members", page_heading_quotation_id: nil %>
<div class="row">
    <div class="col-md-8 admin members index">
        <div class="well">
            <%= #render 'shared/search_form', 
                #button_text: 'Search',
                #form: :filter_form,
                #url: admin_members_path,
                #method: :post,
                #filter_form_array: Member.filter_field_array
            %>
            <h2 class="admin members index">(<%= @members.count %> Members)</h2>
            <% if @members.any? %>
                <% @members.each do |member| %>
                    <%= render 'admin/members/member', member: member %>
                <% end %>
                <div class="center admin members index">
                    <%= will_paginate @members %>
                </div>
            <% end %>
        </div>
    </div>
    <div class="col-md-4">
        <%= render 'layouts/sidebar', member: current_member %>
    </div>
</div>
