<% provide(:title, "Members") %>
<section>
    <h1><%= yield(:title) %></h1>
</section>
    <div class="row">
        <div class="col-md-8 admin members index">
            <div class="well">
                <h2 class="admin members index">(<%= @members.count %> Members)</h2>
                <% if !@members.nil? %>
                    <% @members.each do |member| %>
                        <%= render 'admin/members/member', member: member if !member.admin? %>
                    <% end %>
                    <div class="center admin members index">
                        <%= will_paginate @members %>
                    </div>
                <% end %>
            </div>
        </div>
        <div class="col-md-4">
            <%= render 'layouts/sidebar', member: current_member %>
        </div>
    </div>
