<div class="card admin _order_item">
    <div class="card-body admin _order_item">
        <div class="card-title admin _order_item">
            <h2 class="admin _order_item">Order Item: #<%= @order_items.find_index(order_item) + 1 %></h2>
        </div>
        <div class="card-text">
            <h3>Product: <span class="admin _order_item argument"><%= order_item.store_item.name %></span></h3>
            <% if order_item.store_item.type == "Membership" %>
                <h3>Type: <span class="admin _order_item argument">Membership</span></h3>
            <% else %>
                <h3>Type: <span class="admin _order_item argument">Other</span></h3>
            <% end %>
            <h3>Unit Price: <span class="admin _order_item argument">&euro;<%= convert_to_price(order_item.store_item.price) %></span></h3>
            <h3>Quantity: <span class="admin _order_item argument"><%= order_item.quantity %></span></h3>
            <h3>Sub-Total: <span class="admin _order_item argument">&euro;<%= convert_to_price(order_item.sub_total) %></span></h3>
        </div>
    </div>
</div>
