<div class="card" style="background-color: #000000; padding: 1em;">
    <h5 class="card-title">
        <%= link_to member_avatar_for(comment.member), comment.member %>
        <span class="user"><%= link_to comment.member.first_name + " " + comment.member.last_name, comment.member %></span>
    </h5>
    <%= comment_big_image_for(comment.image, style: "border: 0;") if comment.image.attached? %>
    <div class="card-body">
        <p class="card-text" style="margin-top: 2em; font-family: Trebuchet MS;"><%= auto_link_content(sanitize comment.content.html_safe) %></p>
        <p class="card-text" style="margin-top: 2em;"><small class="text-muted" style="color: #FFFFFF;">Posted <%= time_ago_in_words(comment.created_at) %> ago.</small></p>
        <% if comment.member == current_member %>
            <%= link_to "Delete", newswire_post_comment_path(comment.newswire_post, comment), method: :delete, class: "btn btn-danger", data: { confirm: "You sure?" } %>
        <% end %>
    </div>
</div>