<%= form_for @store_item, url: admin_store_items_path, method: :post do |f| %> 

<%-#Make this a multi-part form to handle file attachments%>
    <%= render 'shared/error_messages', object: f.object, html: { multipart: true } %> 
                        
    <h3><%= f.label :type, "Type" %></h3>
    <%= f.select :type, ["Membership", "NonMembership"], class: "form-control" %> 
        
    <h3><%= f.label :name, "Name" %></h3>
    <%= f.text_field :name, class: "form-control" %> 
                    
    <h3><%= f.label :description, "Description" %></h3>
    <%= f.text_area :description, class: "form-control" %> 

    <h3><%= f.label :price, "Price" %></h3>
    <%= f.number_field :price, step: 0.01, min: 1 %>
    
    <h3><%= f.label :avatar, "Store Product Avatar" %></h3> 
    <%= f.file_field :avatar, class: "form-control" %> 
    
    <% if @store_item.avatar? %>
        <h3><%= f.label :remove_avatar, "Remove Store Product Avatar" %></h3> 
        <%= f.check_box :remove_avatar %> 
    <% end %>
                        
    <%= f.submit yield(:button_text), class: "btn btn-primary" %> 
                        
<% end %>