<% provide(:title, "Store Products") %>
<section>
    <h1><%= yield(:title) %></h1>
</section>
    <div class="row">
        <div class="col-md-8 admin store_items index">
            <div class="well admin store_items index">
                <h2 class="">(<%= @store_items.count %> Store Products)</h2>
                <% if !@store_items.nil? %>
                    <% @store_items.each do |store_item| %>
                        <%= render 'admin/store_items/store_item', store_item: store_item %>
                    <% end %>
                    <div class="center" class="admin store_items index">
                        <%= will_paginate @store_items %>
                    </div>
                <% end %>
            </div>
        </div>
        <div class="col-md-4">
            <%= render 'layouts/sidebar', member: current_member %>
        </div>
    </div>
