<%= form_for @lesson, url: admin_lesson_path(@lesson), method: :patch do |f| %> 

<%-#Make this a multi-part form to handle file attachments%>
    <%= render 'shared/error_messages', object: f.object, html: { multipart: true } %> 
                        
    <h3><%= f.label :date, "Date" %></h3>
    <%= f.text_field :date, as: :string, data: { behaviour: "flatpickr" }, class: "datepicker" %> 
                        
    <h3><%= f.label :start_time, "Start Time" %></h3>
    <%= f.time_select :start_time, start_hour: 6, end_hour: 21, discard_minute: true, class: "form-control" %> 
        
    <h3><%= f.label :end_time, "End Time" %></h3>
    <%= f.time_select :end_time, start_hour: 7, end_hour: 22, discard_minute: true, class: "form-control" %> 
                    
    <h3><%= f.label :instructor, "Instructor" %></h3> 
    <%= f.collection_select :instructor_id, Instructor.all, :id, :full_name, class: "form-control" %> 
                
    <h3><%= f.label :facility, "Facility" %></h3>
    <%= f.collection_select :facility_id, Facility.all, :id, :name, class: "form-control" %> 
    
    <h3><%= f.label :programme, "Programme" %></h3>
    <%= f.collection_select :programme_id, Programme.all, :id, :name, class: "form-control" %>
                
    <h3><%= f.label :level, "Level" %></h3> 
    <%= f.select :level, ["Beginner", "Intermediate", "Advanced", "Competition"], class: "form-control" %> 
    
    <h3><%= f.label :is_expired, "Expired?" %></h3>
    <%= f.check_box :is_expired %>
                        
    <%= f.submit yield(:button_text), class: "btn btn-primary" %> 
                        
<% end %>