<div class="card admin _lesson">
	<div class="card-body">
		<div class="row">
    		<div class="col-md-4">
				<%= link_to(generate_avatar_for(lesson.instructor, { style: { width: '100%', height: 'auto' }}), instructor_path(lesson.instructor)) %>
    		</div>
			<div class="col-md-8">
			    <h2 class="admin lessons _lesson">Lesson #<%= lesson.id %></h2>
				<h3>Date: <span class="admin _lesson argument"><%= lesson.date.strftime("%a %b #{lesson.date.day.ordinalize}") %> <%= lesson.date.year %></span></h3>
				<h3>Start Time: <span class="admin _lesson argument"><%= lesson.start_time.strftime("%H:%M") %></span></h3>
				<h3>End Time: <span class="admin _lesson argument"><%= lesson.end_time.strftime("%H:%M") %></span></h3>
        		<h3>Instructor: <span class="admin _lesson argument"><%= lesson.instructor.first_name + " " + lesson.instructor.last_name %></span></h3>
        		<h3>Facility: <span class="admin _lesson argument"><%= lesson.facility.name %></span></h3></span></h3>
        		<h3>Programme: <span class="admin _lesson argument"><%= lesson.programme.name %></span></h3></span></h3>
        		<h3>Level: <span class="admin _lesson argument"><%= lesson.level %></span></h3></span></h3>
        		<h3>Status: <span class="admin _lesson argument">
					<% if !lesson.is_expired %>
						<span class="admin _lesson argument active"><%= 'ACTIVE' %></span>
					<% else %>
						<span class="admin _lesson argument expired"><%= 'EXPIRED' %></span>
					<% end %>
        		<h3><%= link_to "View Registrations", admin_lesson_path(lesson) %></h3>
				<div class="admin _lesson button-options">
        			<%= link_to "Delete", admin_lesson_path(lesson), method: :delete, class: "btn btn-danger admin _lesson", data: { confirm: "Are you sure you want to delete lesson '##{lesson.id}'?" } %>
					<%= link_to "Edit", edit_admin_lesson_path(lesson), class: "btn btn-primary admin _lesson" %>
				</div>
			</div>
		</div>
	</div>
</div>
