<% provide(:title, "View Lesson") %>
<h1><%= yield(:title) %></h1>

<div class="row">
    <h2 class="admin lessons show parameter">Lesson: #<%= @lesson.id %></h2>
    <div class="col-md-8 admin lessons show">
        <div class="well">
            <% if !@registrations.nil? %>
                <% @registrations.each do |registration| %>
                    <td><%= render 'admin/registrations/registration', registration: registration, member: registration.member, lesson: registration.lesson %></td>
                <% end %>
                <div class="center">
                    <%= will_paginate @registrations %>
                </div>
            <% end %>
        </div>
        <h3><%= link_to "Back to Lessons", admin_lessons_path %></h3>
    </div>
    <div class="col-md-4">
        <%= render 'layouts/sidebar', member: current_member %>
    </div>
</div>
