<%= form_for @programme, url: admin_programmes_path, method: :post do |f| %>

<%-#Make this a multi-part form to handle file attachments%>
    <%= render 'shared/error_messages', object: f.object, html: { multipart: true } %>

    <h3><%= f.label :name, "Name" %></h3>
    <%= f.text_field :name, class: "form-control" %>

    <h3><%= f.label :quotation, "Quotation (Optional)" %></h3>
    <%= f.text_field :quotation, class: "form-control" %>

    <h3><%= f.label :avatar, "Programme Avatar" %> </h3>
    <%= f.file_field :avatar, class: "form-control" %>

    <% if @programme.avatar? %>
        <h3><%= f.label :remove_avatar, "Remove Programme Avatar" %> </h3>
        <%= f.check_box :remove_avatar %>
    <% end %>

    <%= f.submit yield(:button_text), class: "btn btn-primary" %>

<% end %>
