<% provide(:title, "Programmes") %>
<section>
    <h1><%= yield(:title) %></h1>
</section>
    <div class="row">
        <div class="col-md-8 admin programmes index">
            <div class="well">
                <h2 class="admin programmes index">(<%= @programmes.count %> Programmes)</h2>
                <% if !@programmes.nil? %>
                    <% @programmes.each do |programme| %>
                        <%= render 'admin/programmes/programme', programme: programme %>
                    <% end %>
                    <div class="center" class="admin programmes index">
                        <%= will_paginate @programmes %>
                    </div>
                <% end %>
            </div>
        </div>
        <div class="col-md-4">
            <%= render 'layouts/sidebar', member: current_member %>
        </div>
    </div>
