<div class="col-md-6">
    <div class="card" style="width: 100%; background-color: #FFFFFF; padding: 1.5em; margin-bottom: 4em;">
        <%= store_item_big_image_for(store_item, width: "100%", height: "auto;") %>
          <div class="card-body" style="background-color: #000000; padding: 1em;">
            <h2 class="card-title" style="margin: 0;"><%= store_item.name.titleize %></h2>
            <p class="card-text" style="padding-top: 1.5em;"><%= store_item.description %></p>
            <%  if !session[:order_id].nil? %>
              <%= form_for order_item, url: member_orders_live_order_order_items_path(member, order, order_item), method: :post, remote: true do |f| %>
                <%= f.hidden_field :store_item_id, value: store_item.id %>
              
                <%= f.number_field :quantity, value: 1, min: 1 %>
              
                <%= f.submit "Add To Cart", class: "btn btn-primary" %>
              <% end  %>
            <% end  %>
          <h3>Price:<span style="font-family: Trebuchet MS; color: #FFFFFF; padding-left: 1em;">&euro;<%= convert_to_price(store_item.price) %></span></h3>
          </div>
    </div>
</div>