<section>
<div class="col-md-4">
	<div class="card">
	<div class="image">
		<a href="/instructors/<%= instructor.id %>">
			<img src="/assets/instructors_images/<%= instructor.first_name %>_<%= instructor.last_name %>.jpg" alt="<%= instructor.first_name %> <%= instructor.last_name %>">
		</a>
		<%-#<%= link_to (image_tag("/programmes_images/Programmes_#{programme.name}.jpg", programme_path(programme), alt: programme.name ) -%>
		<div class="middle">
			<div class="text"><%= instructor.first_name %> <%= instructor.last_name %></div>
		</div>
	</div>
</div>
</div>
<section>