<%= render 'shared/bootstrap_alert_messages', alert_message_hash: flash %>
<%= render 'shared/page_heading_section', page_heading: "Facilities", page_heading_quotation_id: "instructor-page-quotation" %>
<div class="row">
	<section id="instructor-page-quotation" class="instructors index quotation">
		<span style="font-style: italic;"><%= @instructor_page_quotation.split(" - ")[0] %></span>
		<% if !@instructor_page_quotation.split(" - ")[1].nil? %>
			- <%= @instructor_page_quotation.split(" - ")[1] %>
		<% end %>
	</section>
	<% if @instructors.any? %>
		<% @instructors.each do |instructor| %>
			<%= render 'instructors/instructor', instructor: instructor %>
		<% end %>
	<% end %>
</div>
<script>
	$(document).ready(function() {
		$("h1").mouseenter(function() {
			$("#instructor-page-quotation").animate({
				'margin-top' : '+= 1em',
				'margin-bottom' : '+= 1em'
			}, 500, function() {
				$("#instructor-page-quotation").fadeIn(1000);
			});
		}).mouseleave(function() {
			$("#instructor-page-quotation").animate({
				'margin-top' : '-= 1em',
				'margin-bottom' : '-= 1em'
			}, 500, function() {
				$("#instructor-page-quotation").fadeOut(1000);
			});
		});
	});
</script>
