<section>
	<h1><%= @instructor.full_name %></h1>
	<h2 class="instructors show"><%= @instructor.role %></h2>
</section>
<section class="center">
	<%= generate_avatar_for(@instructor, {
		style: {
			width: "60%;",
			height: "auto;"
		}
	}) %>
</section>
<div class="container">
	<div class="row">
		<section>
			<% if File.exist?(@instructor_bio_path) %>
				<%= render "instructors/instructor_bios/#{@instructor.full_name.downcase.gsub(" ", "_")}" %>
			<% else %>
				<%= render 'layouts/default_description' %>
			<% end %>
		</section>
	</div>
</div>
