<div class="card" style="background-color: #000000; padding: 1em; margin-top: 2em;">
    <h5 class="card-title"><span class="user" style="font-family: Orbitron; font-size: 1.5em;" >Order #<%= order.id %></h5>
    <div class="card-body">
	    <div class="row">
		    <div class="col-md-12">
		        <h3>Member: <span style="font-family: Trebuchet MS; color: #FFFFFF; padding-left: 1em;"><%= order.member.user_name %></span></h3>
		        <h3>Total Cost: <span style="font-family: Trebuchet MS; color: #FFFFFF; padding-left: 1em;">&euro;<%= convert_to_price(order.total) %></span></h3>
                <h3>Created: <span style="font-family: Trebuchet MS; color: #FFFFFF; padding-left: 1em;"><%= order.created_at.strftime("%a %b #{order.created_at.day.ordinalize}") %> <%= order.created_at.year %> at <%= order.created_at.strftime("%H:%M:%S") %></span></h3>
                <h3>Last Updated: <span style="font-family: Trebuchet MS; color: #FFFFFF; padding-left: 1em;"><%= order.updated_at.strftime("%a %b #{order.updated_at.day.ordinalize}") %> <%= order.updated_at.year %> at <%= order.updated_at.strftime("%H:%M:%S") %></span></h3></span></h3>
                <h3><%= link_to "View Details", admin_order_path(order) %></h3>
		        <div>
                    <%= link_to "Delete", admin_order_path(order), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure you want to delete order '#{order.id}'?" }, style: "font-family: Orbitron; float: right;" %> 
			    </div>
		    </div>
		</div>
    </div>
</div>