<div class="card">
    <div class="card-body">
        <div class="card-title"><h2>Order Summary</h2></div>
        <div class="card-text">
            <ul class="_order_summary">
                <li class="admin _completed_order_summary"><h3>Member:</h3> <%= order.member.user_name %></li>
                <li class="admin _completed_order_summary"><h3>Total:</h3> &euro;<%= convert_to_price(order.total) %></li>
                <li class="admin _completed_order_summary"><h3>Purchased On:</h3> <%= order.created_at.strftime("%a %b #{order.created_at.day.ordinalize}") %> <%= order.created_at.year %> at <%= order.created_at.strftime("%H:%M:%S") %></li>
            </ul>
        </div>
    </div>
</div>
