<div class="card admin _order">
    <h5 class="card-title admin _order" >Order #<%= order.id %></h5>
    <div class="card-body">
	    <div class="row">
		    <div class="col-md-12">
		        <h3>Member: <span class="admin _order argument"><%= order.member.user_name %></span></h3>
		        <h3>Total Cost: <span class="admin _order argument">&euro;<%= convert_to_price(order.total) %></span></h3>
                <h3>Created: <span class="admin _order argument"><%= order.created_at.strftime("%a %b #{order.created_at.day.ordinalize}") %> <%= order.created_at.year %> at <%= order.created_at.strftime("%H:%M:%S") %></span></h3>
                <h3>Last Updated: <span class="admin _order argument"><%= order.updated_at.strftime("%a %b #{order.updated_at.day.ordinalize}") %> <%= order.updated_at.year %> at <%= order.updated_at.strftime("%H:%M:%S") %></span></h3></span></h3>
                <h3><%= link_to "View Details", admin_order_path(order) %></h3>
		        <div>
              <%= link_to "Delete", admin_order_path(order), method: :delete, class: "btn btn-danger admin _order", data: { confirm: "Are you sure you want to delete order '#{order.id}'?" } %>
			    </div>
		    </div>
		</div>
    </div>
</div>
