<%= provide(:title, "Order ##{@order.id}") %>
<section>
    <h1><%= yield(:title) %></h1>
</section>
<h2>Member: <span class="admin orders show member-argument"><%= @order.member.user_name %></span></h2>
<div class="row">
    <div class="col-md-8 admin orders show">
        <div class="well">
            <% @order_items.each do |order_item| %>
                <%= render 'admin/order_items/order_item', order_item: order_item %>
            <% end %>
            <div class="center admin orders show">
                <%= will_paginate @order_items %>
            </div>
        </div>
        <h2>Total: <span class="admin orders show total-argument">&euro;<%= convert_to_price(@order.total) %></span></h2>
    </div>
    <div class="col-md-4">
        <%= render 'layouts/sidebar', member: current_member %>
    </div>
</div>
