<h2><%= params[:controller] %> <%= params[:action] %> <%= params[:id] %> <%= params[:lesson_id] %> <%= params[:_method] %> </h2>
<h1><%= current_member.id %></h1>
<h1><%= current_member.subscriptions.find(params[:subscription_id]).registrations.find(params[:id]).id %></h1>


