<% provide(:title, "All Registrations for #{@member.first_name + @member.last_name}") %> 
<h1><%= yield(:title) %></h1>

<div class="row">
    <div class="col-lg-8">
    <h2><%= @date %></h2>
        <div class="well">
            <h2>Subscription: <%= @subscription %></h2>
            <%-#The members index with pagination-%>
                <table class="table-timetable">
                    <thead>
                        <tr>
                            <td>Date</td>
                            <td>Time</td>
                            <td>Lesson</td>
                        </tr>
                    </thead>
                    <tbody>
                        <% if @registrations.any? %>
                            <% @registrations.each do |registration| %>
                                <tr>
                                    <td><%= registration.lesson.date %></td>
                                    <td><%= registration.lesson.start_time.strftime("%H:%M") %> - <%= registration.lesson.end_time.strftime("%H:%M") %></td>
                                    <td><%= render 'lessons/lesson', lesson: registration.lesson %></td>
                                </tr>
                            <% end %> 
                        <% end %>
                    </tbody>
                </table>
            <%= will_paginate @lessons %>
        </div>
    </div>
    <aside class="col-lg-4">
        <div class="row"> 
            <section class="user_info">
                <h1>
                    <%= generate_avatar_for(@member, { style: { width: '100%', height: 'auto' }}) %>
                    <%= @member.first_name + " " + @member.last_name %>
                </h1>  
            </section>
            <%= render 'layouts/sidebar', member: @member %>
        </div>
    </aside> 
</div>
