<%= form_for [@member, @newswire_post], method: :post do |f| %> 
    <%= render 'shared/error_messages', object: f.object %> 
    <div class="field"> 
        <%= f.text_area :content, placeholder: "Add Newswire Post..." %> 
    </div> 
        
    <%= f.submit "Post", class: "btn btn-primary" %> 
    <%-#Adding image upload to the newswire_post 'create' form-%>
    <span class="image"> 
        <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png" %> 
    </span>
<% end %>

<%-#Checking the file size with jQuery-%>
