<%= form_for [@member, @newswire_post] do |f| %> 
    <%= render 'shared/error_messages', object: f.object %> 
    <div class="field"> 
        <%= f.text_area :content, placeholder: "Add Newswire Post..." %> 
    </div> 
        
    <%= f.submit "Post", class: "btn btn-primary" %> 
    <%-#Adding image upload to the newswire_post 'create' form-%>
    <span class="image"> 
        <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png" %> 
    </span>
<% end %>

<%-#Checking the file size with jQuery-%>

<script type="text/javascript"> 
    $("#newswire_post_image").bind("change", function() { 
        let size_in_megabytes = this.files[0].size/1024/1024; 
        if (size_in_megabytes > 5) { 
            alert("Maximum file size is 5MB. Please choose a smaller file."); 
        } 
    }); 
</script>