<div class="row">
	<section>
		<p>Our Physical Therapy clinic caters to treatments such as:
	</section>
	<section>
		<ul>
			<section>
				<%= link_to "Sports Massage", "http://corkphysiotherapy.ie/physio-services/deep-tissue-massage/", target: "_blank" %>
			</section>
			<section>
				<%= link_to "Soft Tissue Release", "https://www.massagetique.com/types/soft-tissue-release/", target: "_blank" %>
			</section>
			<section>
				<%= link_to "Muscle Energy Technique", "https://www.physio-pedia.com/Muscle_Energy_Technique", target: "_blank" %>
			</section>
			<section>
				<%= link_to "Trigger Point Therapy", "https://www.painscience.com/tutorials/trigger-points.php", target: "_blank" %>
			</section>
			<section>
				<%= link_to "Positional Release", "https://www.massagetoday.com/mpacms/mt/article.php?id=15145", target: "_blank" %>
			</section>
			<section>
				<%= link_to "Differential Diagnosis", "https://www.healthline.com/health/differential-diagnosis", target: "_blank" %>
			</section>
			<section>
				<%= link_to "Dry Needling", "http://corkphysiotherapy.ie/physio-services/dry-needling/", target: "_blank" %>
			<section>
			</ul>
	</section>
</div>