<%= render 'shared/bootstrap_alert_messages', alert_message_hash: flash %>
<%= render 'shared/page_heading_section', page_heading: @facility.name, page_heading_quotation_id: nil %>
<section class="center">
	<%= generate_avatar_for(@facility, {
		style: {
			width: "100%",
			height: "auto"
		}
	}) %>
</section>
	<div class="container">
		<div class="row">
	       	<% if File.exist?(@facility_description_url) %>
	       		<%= render "facilities/#{replace_char(@facility.name.downcase, " ", "_")}" %>
	       	<% else %>
	       		<%= render 'layouts/default_description', object: @facility.name %>
	       	<% end %>
	    </div>
	</div>
</div>
