<%= form_tag charges_path do %>
    <article>
        <label class="amount"><span>Amount: &euro;<%= convert_to_price(order.total) %></span></label>
    </article>
    <button type="submit" class="btn btn-success" style="font-family: Orbitron;">Checkout</button>
    <%= link_to "Continue Shopping", store_items_path, class: "btn btn-primary" %>
    <%= link_to "Delete Order", member_live_order_path(member, order), method: :delete, data: { confirm: "Are you sure you want to delete this order?" }, class: "btn btn-danger", style: "font-family: Orbitron;" %> 
    
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
        data-description="order-id-<%= @order.id %>-member-id-<%= @member.id %>"
        data-amount="<%= (@order.total * 100).round  %>"
        data-locale="auto">
    </script>
<% end %>