<%= render 'shared/bootstrap_alert_messages', alert_message_hash: flash %>
<%= render 'shared/page_heading_section', page_heading: "Your Purchases", page_heading_quotation_id: nil %>
<div class="row">
    <div class="col-md-8">
        <div class="well">
            <% if @orders.any? %>
                <% @orders.each do |order| %>
                    <%= render '/orders/order', member: @member, order: order %>
                <% end %>
                    <div class="center" style="background-color: #FFFFFF; margin-top: 1.5em;">
                        <%= will_paginate @orders %>
                    </div>
            <% end %>
        </div>
    </div>
    <div class="col-md-4"> 
        <%= render 'layouts/sidebar', member: current_member %>
    </div>
</div>
