<div class="card admin _enquiry">
  <div class="card-body admin _enquiry">
    <h2 class="card-title admin _enquiry">Enquiry <%= enquiry.id %></h2>
    <p class="card-text">
        <ul class="admin _enquiry">
            <li class="admin _enquiry"><h3>First Name:</h3> <%= enquiry.first_name %></li>
            <li class="admin _enquiry"><h3>Last Name:</h3> <%= enquiry.last_name %></li>
            <li class="admin _enquiry"><h3>Email:</h3> <%= enquiry.email %></li>
            <li class="admin _enquiry"><h3>Phone No:</h3> <%= enquiry.phone_no %></li>
            <li class="admin _enquiry"><h3>Posted:</h3> <%= enquiry.created_at.strftime("%a %b #{enquiry.created_at.day.ordinalize}") %> <%= enquiry.created_at.year %> at <%= enquiry.created_at.strftime("%H:%M:%S") %></li>
            <li class="admin _enquiry"><h3>Message:</h3> <%= auto_link_content(message) %></li>
        </ul>
    </p>
  </div>
  <div class="card-footer text-muted admin _enquiry">
     <%= link_to "Remove", admin_enquiry_path(enquiry), method: :delete, data: { confirm: "Are you sure you want to remove this testimonial?" }, class: "btn btn-danger admin _enquiry" %>
  </div>
</div>
