<%= provide(:title, "Enquiries") %>
<section>
    <h1><%= yield(:title) %></h1>
</section>
<div class="row">
    <div class="col-md-8 admin enquiries index">
        <% if !@enquiries.nil? %>
            <% @enquiries.each do |enquiry| %>
                <%= render 'admin/enquiries/enquiry', enquiry: enquiry %>
            <% end %>
        <% end %>
        <div class="center"><%= will_paginate @enquiries %></div>
    </div>
    <aside class="col-md-4">
        <%= render 'layouts/sidebar', member: current_member %>
    </aside>
</div>
