<% provide(:title, "#{@subscription.subscription_name}") %> 
<h1><%= yield(:title) %></h1>

<div class="row">
    <div class="col-md-9">
        <div class="well">
            <%-#The members index with pagination-%>
            <table class="table">
                <thead>
                    <tr>
                        <td>Lesson Registered To</td>
                        <td>Lesson Time</td>
                        <td>Time of Registration</td>
                    </tr>
                </thead>
                <tbody>
                    <% if @registrations != [] %>
                        <% @registrations.each do |registration| %> 
                            <tr>
                                <td style="padding-top: 0;"><%= render 'lessons/lesson', lesson: registration.lesson %></td>
                                <td><%= registration.lesson.start_time.strftime("%H:%M") %> - <%= registration.lesson.end_time.strftime("%H:%M") %></td>
                                <td><%= registration.created_at.strftime("%H:%M:%S") %></td>
                            </tr>
                        <% end %>
                        <%= will_paginate @registrations %>
                    <% end %> 
                </tbody>
            </table>
            <% if @subscription.is_active == true %> 
                <h3><%= link_to "Browse Timetable", public_timetable_path(@date)%></h3>
            <% end %>
        </div>
    </div>
</div>
