<div class="card" style="background-color: #000000; padding: 1em; margin-top: 2em;">
    <div class="card-body">
		<div class="row">
    	<div class="col-md-4">
        	<%= link_to facility_big_image_for(facility), facility_path(facility) %>
    	</div>
		<div class="col-md-8">
			<h3>Name: <span style="font-family: Trebuchet MS; color: #FFFFFF; padding-left: 1em;"><%= facility.name %></span></h3>
        	<h3>Created: <span style="font-family: Trebuchet MS; color: #FFFFFF; padding-left: 1em;"><%= facility.created_at.strftime("%a %b #{facility.created_at.day.ordinalize}") %> <%= facility.created_at.year %> at <%= facility.created_at.strftime("%H:%M:%S") %></span></h3>
        	<h3>Last Updated: <span style="font-family: Trebuchet MS; color: #FFFFFF; padding-left: 1em;"><%= facility.updated_at.strftime("%a %b #{facility.updated_at.day.ordinalize}") %> <%= facility.updated_at.year %> at <%= facility.updated_at.strftime("%H:%M:%S") %></span></h3></span></h3>
			<div style="padding-top: 6em;">
        		<%= link_to "Delete", admin_facility_path(facility), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure you want to delete member '#{facility.name}'?" }, style: "font-family: Orbitron; float: right;" %> 
				<%= link_to "Edit", edit_admin_facility_path(facility), class: "btn btn-primary", style: "float: right;  margin-right: 0.5em;" %> 
			</div>
		</div>
		</div>
    </div>
</div>