<div class="card admin _facility">
    <div class="card-body">
		<div class="row">
    	<div class="col-md-4">
        	<%= link_to generate_avatar_for(facility, { style: { width: '100%', height: 'auto' }}), facility_path(facility) %>
    	</div>
		<div class="col-md-8">
			<h3>Name: <span class="admin _facility argument"><%= facility.name %></span></h3>
        	<h3>Created: <span class="admin _facility argument"><%= facility.created_at.strftime("%a %b #{facility.created_at.day.ordinalize}") %> <%= facility.created_at.year %> at <%= facility.created_at.strftime("%H:%M:%S") %></span></h3>
        	<h3>Last Updated: <span class="admin _facility argument"><%= facility.updated_at.strftime("%a %b #{facility.updated_at.day.ordinalize}") %> <%= facility.updated_at.year %> at <%= facility.updated_at.strftime("%H:%M:%S") %></span></h3></span></h3>
			<div class="admin _facility button-options">
        <%= link_to "Delete", admin_facility_path(facility), method: :delete, class: "btn btn-danger admin _facility", data: { confirm: "Are you sure you want to delete member '#{facility.name}'?" } %>
				<%= link_to "Edit", edit_admin_facility_path(facility), class: "btn btn-primary admin _facility" %>
			</div>
		</div>
		</div>
    </div>
</div>
