<% provide(:title, "Facilities") %>
<section>
    <h1><%= yield(:title) %></h1>
</section>
    <div class="row">
        <div class="col-md-8 admin facilities index">
            <div class="well">
                <h2 class="admin facilities index">(<%= @facilities.count %> Facilities)</h2>
                <% if !@facilities.nil? %>
                    <% @facilities.each do |facility| %>
                        <%= render 'admin/facilities/facility', facility: facility %>
                    <% end %>
                    <div class="center admin facilities index">
                        <%= will_paginate @facilities %>
                    </div>
                <% end %>
            </div>
        </div>
        <div class="col-md-4">
            <%= render 'layouts/sidebar', member: current_member %>
        </div>
    </div>
