<div class="card">
  <div class="row">
    <div class="col-md-4">
      <a href="/instructors/<%= lesson.instructor.id %>">
        <%= generate_avatar_for(lesson.instructor, {
          style: {
            width: "100%",
            height: "auto"
          }
        }) %>
      </a>
    </div>
    <div class="col-md-8">
        <ul class="lessons _lesson">
          <li>
            <div id="lesson-<%= lesson.id %>-registration-result">
              <% if !lesson_registration_results.nil? %>
                <% lesson_registration_results.each do |message_type, message| %>
                  <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
                <% end %>
              <% end %>
            </div>
          </li>
          <li>
            <h2><%= lesson.programme.name %></h2>
          </li>
          <li>
            <h3>Instructor: <%= link_to lesson.instructor.first_name, instructor_path(lesson.instructor), class: "lessons _lesson lesson-instructor" %></h3>
          </li>
          <li>
            <h3>Level: <span class="lessons _lesson lesson-level"><%= lesson.level %></span></h3>
          </li>
          <li>
            <h3>Location: <%= link_to lesson.facility.name, facility_path(lesson.facility), class: "lessons _lesson lesson-facility" %></h3>
          </li>
          <% if !lesson.is_expired %>
            <% if current_member.registered_to?(lesson) %>
              <li>
                <h3>Registered with Subscription:<span class="lessons _lesson subscription"><%= current_member.get_subscription_used_to_register_for(lesson).subscription_name %></span></h3>
              </li>
              <li>
                <% if current_member.get_subscription_used_to_register_for(lesson).is_active %>
                  <%= form_for lesson.registrations.find_by(member_id: current_member.id), url: lesson_registration_path(lesson, lesson.registrations.find_by(member_id: current_member.id)), remote: true, html: { id: "unregister-from-lesson-#{lesson.id}" }, method: :delete do |f| %>
                    <%= f.submit "Unregister", data: { confirm: 'Are you sure you want to unregister from this class?' }, class: "btn btn-danger" %>
                  <% end %>
                <% end %>
              </li>
            <% else %>
                <% if current_member.subscriptions.where(is_active: true).any? %>
                  <li>
                    <%= form_for lesson.registrations.build, remote: true, html: { id: "registration-form-for-lesson-#{lesson.id}" }, url: lesson_registrations_path(lesson), method: :post do |f| %>
                      <h3>Register with Subscription:</h3>
                      <%= f.collection_select :subscription_id, current_member.subscriptions.where(is_active: true), :id, :subscription_name, html_options = { class: "form-control", id: "member-#{current_member.id}-subscription-list-for-unregistered-lesson-#{lesson.id}" } %><br>
                      <%= f.hidden_field :member_id, value: current_member.id, id: "hidden-member_id-field-for-lesson-#{lesson.id}" %>
                      <%= f.submit "Register", data: { confirm: 'Are you sure you want to register for this class?' }, class: "btn btn-primary"%>
                    <% end %>
                  </li>
                <% else %>
                  <br>
                  <li class="lessons _lesson no-active-subscription">
                    <p>You need a an active subscription to a membership to register for lessons. These can be purchased in the
                    <%= link_to "store", store_items_path %>.</p>
                  </li>
                <% end %>
            <% end %>
          <% else %>
            <li class="lessons _lesson expired-lesson">
              <h2>
                <span class="lessons _lesson expired-lesson">EXPIRED</span></h2>
            </li>
          <% end %>
        </ul>
    </div>
  </div>
</div>
