<div class="card" style="width: 100%;">
  <div class="row no-gutters">
    <div class="col-md-4" style="padding: 1em;">
        <a href="/instructors/<%= lesson.instructor.id %>">
            <%= instructor_big_image_for(lesson.instructor, width: "100%", height: "auto") %>            
        </a>
        <% if current_member.admin? %>
            <ul style="list-style-type: none; margin: 0; padding-left: 0; padding-right: 0; padding-top: 1em;">
                <li style="margin-bottom: 1em;"><%= link_to "Edit", edit_lesson_path(lesson), class: "btn btn-primary" %></li>
                <li><%= link_to "Remove", lesson_path(lesson), method: :delete, data: { confirm: "Are you sure you want to delete this lesson?" }, class: "btn btn-danger" %></li>
            </ul>
        <% end %>
    </div>
    <div class="col-md-8" style="padding-right: 1em;">
      <div class="card-body">
        <p class="card-text">
            <ul>
                <li class="lesson-list-item"><h2><%= lesson.programme.name %></h2></li>
                <li class="lesson-list-item"><h3>Instructor:</h3> <%= link_to lesson.instructor.first_name, instructor_path(lesson.instructor) %></li>
                <li class="lesson-list-item"><h3>Level:</h3> <%= lesson.level %></li>
                <li class="lesson-list-item"><h3>Location:</h3> <%= link_to lesson.facility.name, facility_path(lesson.facility) %></li>
                <% if current_member.already_registered_to(lesson) %>
                    <li class="lesson-list-item"><h3>Registered with Subscription:</h3> <%= current_member.subscription_used_to_register_for(lesson).subscription_name %></li>
                    <li class="lesson-list-item" style="margin-top: 1.5em;"> 
                        <%= form_for lesson.registrations.find_by(member_id: current_member.id), url: lesson_registration_path(lesson, lesson.registrations.find_by(member_id: current_member.id)), method: :delete do |f| %> 
                            <%= f.submit "Unregister", data: { confirm: 'Are you sure you want to unregister for this class?' }, class: "btn btn-danger" %> 
                        <% end %>
                    </li>
        
                <% else %>
                    <% if current_member.subscriptions.where(is_active: true).any? %>
                        <li class="lesson-list-item"> 
                            <%= form_for lesson.registrations.build, url: lesson_registrations_path(lesson), method: :post do |f| %> 
                                <br>Register with Subscription:
                                <%= f.collection_select :subscription_id, current_member.subscriptions.where(is_active: true), :id, :subscription_name, class: "form-control" %><br> 
                                <%= f.hidden_field :member_id, value: current_member.id %>
                                <%= f.submit "Register", data: { confirm: 'Are you sure you want to register for this class?' }, class: "btn btn-primary" %> 
                            <% end %>
                        </li>
                    <% else %>
                        <br><li class="lesson-list-item"><p>You need a an active subscription to a membership to register for lessons. These can be purchased in the <%= link_to "store", store_items_path %>.</p></li>
                    <% end %>
                <% end %>
            </ul>
        </p>
        <p class="card-text">
            <small class="text-muted">
            </small>
        </p>
      </div>
    </div>
  </div>
</div>