<div class="card admin _registration">
    <div class="card-body">
		<h2 class="admin registrations _registration">Registration #<%= registration.id %></h2>
        <h3>Member: <span class="admin registrations _registration"><%= member.user_name %></span></h3>
        <% if member.admin? %>
            <h3>User Level: <span class="admin registrations _registration">Admin</span></h3>
        <% else %>
            <h3>User Level: <span class="admin registrations _registration">Member</span></h3>
        <% end %>
        <h3>Subscription ID: <span class="admin registrations _registration">#<%= registration.subscription.id %></span></h3>
        <h3>Registered: <span class="admin registrations _registration"><%= registration.created_at.strftime("%a %b #{registration.created_at.day.ordinalize}") %> <%= registration.created_at.year %> at <%= registration.created_at.strftime("%H:%M:%S") %></span></h3></span></h3>
        <%= link_to "Unregister", admin_lesson_registration_path(registration.lesson, registration), method: :delete, class: "btn btn-danger admin _registration",
            data: { confirm: "Are you sure you want to unregister member '#{registration.member.id}' from lesson '#{registration.lesson.id}'?" } if current_member.admin? %>
    </div>
</div>
