<div class="card" style="background-color: #FFFFFF; padding-left: 1em; padding-right: 1em; padding-top: 0.0125em; padding-bottom: 3.25em; margin-top: 3em;">
    <div class="card-body" style="background-color: #000000; padding-left: 1em; padding-right: 1em; padding-top: 0.0125em; padding-bottom: 1em; margin-top: 1em;">
        <div class="card-title" style="margin: 0;">
            <h2 style="color: #FFFFFF;">Order Item: #<%= @order_items.find_index(order_item) + 1 %></h2>
        </div>
        <div class="card-text">
            <h3>Product: <span style="font-family: Trebuchet MS; color: #FFFFFF; padding-left: 1em;"><%= order_item.store_item.name %></span></h3>
            <h3>Type: <span style="font-family: Trebuchet MS; color: #FFFFFF; padding-left: 1em;"> <%= order_item.store_item.type == "Membership" ? "Membership" : "Other" %></span></h3>
            <h3>Unit Price: <span style="font-family: Trebuchet MS; color: #FFFFFF; padding-left: 1em;">&euro;<%= convert_to_price(order_item.store_item.price) %></span></h3>
            <%= form_for order_item, url: member_order_order_item_path(member, order, order_item), method: :patch do |f| %>
              <%= f.hidden_field :store_item_id, value: order_item.store_item.id %>
              <h3>Quantity: </h3><%= f.number_field :quantity, value: order_item.quantity.to_i, min: 0, style: "width: 60%;", class: "form-control" %>
              <%= f.submit "Update Cart", class: "btn btn-primary", style: "width: 30%;" %>
            <% end %>
            <h3>Sub-Total: <span style="font-family: Trebuchet MS; color: #FFFFFF; padding-left: 1em;">&euro;<%= convert_to_price(order_item.sub_total) %></span></h3>
        </div>
    </div>
    <div class="card-footer" style="background-color: #FFFFFF; padding-top: 1em; color: #FFFFFF;">
        <%= link_to "Remove Item", member_order_order_item_path(member, order, order_item), date: { confirm: "Are you sure you want to remove this item from the current order?" }, method: :delete, remote: true, class: "btn btn-danger", style: "font-family: Orbitron; width: 30%; float: right;" %>
    </div>
</div>