<%= render 'shared/bootstrap_alert_messages', alert_message_hash: flash %>
<%= render 'shared/page_heading_section', {
  page_heading: "Testimonials",
  page_heading_quotation_id: nil
} %>
<div class="row" style="padding-left: 1em; padding-right: 2em;">
  <div class="col-md-8">
    <div class="well" style="background-color: #000000; border-color: #000000; margin-top: 0;">
      <% if @testimonials.any? %>
        <% @testimonials.each do |testimonial| %>
          <%= render 'testimonials/testimonial', testimonial: testimonial %>
        <% end %>
      <% end %>
      <%= will_paginate @testimonials %>
    </div>
  </div>
  <div class="col-md-4" style="background-color: #000000; border-color: #000000; margin: 0; color: #000000;">
    <div class="well">
        <h2 style="margin-bottom: 1.5em">Testimonial Form:</h2>
        <p style="margin-bottom: 1.5em">Let us know about your experience with us</p>
        <%= render 'testimonials/new_testimonial_form', object: @testimonial %>
    </div>
  </div
</div>
