            <div class="list-group">
                <%= link_to "Timetable", "#", class: "list-group-item" %>
                <%= link_to "Classes", "#", class: "list-group-item" %>
                <%= link_to "Memberships", "#", class: "list-group-item" %>
                <%= link_to "Newswire", "#", class: "list-group-item" %>
                <%= link_to "Store", "#", class: "list-group-item" %>
            </div>