<% provide(:title, @member.first_name + " " + @member.last_name) %>
<div class="row">
    <div class="col-lg-8">
        <div class="row">
            <div class="well">
            <div class="form-wrapper">
                <h2>Search Date</h2>
                <%= form_for :search, method: :get do |f| %>
                
                    <%= f.text_field :date, as: :string, data: { behaviour: "flatpickr" }, class: "datepicker" %> 
                    
                    <%= f.submit "Search", class: "btn btn-primary" %>
                <% end %>
            </div>
            <h2 style="text-align: center;"><%= @date %></h2>
            <table class="table table-bordered">
                <%-#Static HTML to be replaced later%>
                <thead>
                    <tr>
                        <th scope="col">Time</th>
                        <th scope="col">Lesson</th>
                    </tr>
                </thead>
                <tbody>
                    <% @lessons.each do |lesson| %>
                        <tr>
                            <td>
                                <%= lesson.start_time.strftime("%H:%M") %> - <%= lesson.end_time.strftime("%H:%M") %>
                            </td>
                            <td>
                                <%= render 'lessons/lesson', lesson: lesson %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
            </div>
        </div>
    </div>
    <aside class="col-lg-4">
        <div class="row"> 
            <section class="user_info">
                <h1>
                    <%= gravatar_for(@member) %>
                    <%= @member.first_name + " " + @member.last_name %>
                </h1>  
            </section>
            <%= render 'layouts/sidebar', member: @member %>
        </div>
    </aside> 
</div>